* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: #E7EAF6;
    background-color: #231901DA;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    text-align: center;
    cursor: default;
}

h1 {
    background-color: rgba(0, 0, 0, 0.353);
    margin: -0.5rem -0.5rem 0 -0.5rem;
    padding: 1rem;
}

p {
    margin: 6vw 4vw;
    padding: 0;
}

hr {
    border: .2vw solid#231901DA;
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 2vw;
    }

    p {
        margin: 4vw 2vw;
    }
}

.message-content {
    background-color: #23190141;
    font-size: 5vw;
    margin: 2vw 0;
    padding: 1.5vw;
    display: inline-block;
    border: .3vw solid #231901DA;
    border-radius: 1vw;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.message-content:hover {
    color: #D3D6DBE6;
    background-color: #83651E8B;
    border-color: #3A2902;
}

@media screen and (min-width: 1000px) {
    .message-content {
        font-size: 3vw;
    }
}
